<div class="action-buttons">
  <button mat-raised-button color="primary" (click)="openCreateEvent()">Create Event</button>
</div>

<app-event-create *ngIf="showCreateForm" (eventCreated)="handleEventCreated($event)"></app-event-create>

<mat-tab-group>
  
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-symbols-outlined">
        calendar_view_day
      </span> 
      <div [matBadge]="todayEvents.length" matBadgeOverlap="false" class="badge">
        <p>Today</p>
      </div>

    </ng-template>
    <div class="event-wrapper">
      <app-side-filter-bar
        [eventTypes]="eventTypes"
        [selectedStatus]="selectedStatus"
        [selectedEventTypes]="selectedEventTypes"
        [selectedDate]="selectedDate"
        [selectedTime]="selectedTime"
        [selectedCapacity]="selectedCapacity"
        (filtersChanged)="applyFilters($event)"
        [dateDisabled]="true"
      ></app-side-filter-bar>
      <div class="event-container">
        <app-event-card *ngFor="let event of todayEvents" [event]="event"></app-event-card>
      </div>
    </div> 
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-symbols-outlined">
        calendar_view_week
        </span>
        <div [matBadge]="thisWeekEvents.length" matBadgeOverlap="false" class="badge">
          <p>This week</p>
        </div>
    </ng-template>
    <div class="event-wrapper">
      <app-side-filter-bar
        [eventTypes]="eventTypes"
        [selectedStatus]="selectedStatus"
        [selectedEventTypes]="selectedEventTypes"
        [selectedDate]="selectedDate"
        [selectedTime]="selectedTime"
        [selectedCapacity]="selectedCapacity"
        (filtersChanged)="applyFilters($event)"
      ></app-side-filter-bar>
      <div class="event-container">
        <app-event-card *ngFor="let event of thisWeekEvents" [event]="event"></app-event-card>
      </div>
    </div> 
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-symbols-outlined">
        calendar_view_month
        </span>
        <div [matBadge]="thisMonthEvents.length" matBadgeOverlap="false" class="badge">
          <p>This Month</p>
        </div>
    </ng-template>
    <div class="event-wrapper">
      <app-side-filter-bar
        [eventTypes]="eventTypes"
        [selectedStatus]="selectedStatus"
        [selectedEventTypes]="selectedEventTypes"
        [selectedDate]="selectedDate"
        [selectedTime]="selectedTime"
        [selectedCapacity]="selectedCapacity"
        (filtersChanged)="applyFilters($event)"
      ></app-side-filter-bar>
      <div class="event-container">
        <app-event-card *ngFor="let event of thisMonthEvents" [event]="event"></app-event-card>
      </div>
    </div> 
  </mat-tab>
</mat-tab-group>

